* {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

html {
	background-color: #f7fff7;
}

body {
	
	margin: 1em;
}

.window {
	background-color: #eae2b7;
	padding: 10px;
	margin: 10px;
	border: 2px solid #2b2d42;

}

.window2 {
	
}

.window * {
	margin-bottom: 3px;
}
